*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-image: url('images/notepad.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Raleway', sans-serif;
  color: black;
  font-size: 30px;

}
h1{
  text-align: center;
  color:white;
  margin-bottom: 10px;
  margin-top: 30px;
  font-family: 'Raleway', sans-serif;
}
input+button{
  border-radius: 5%;
  height:40px;
  width:5%;
}

.crossThrough2{
  text-decoration: line-through;
}

.crossThrough3{
display: none;
}


.container{
  margin-top: 400px;
  margin-left:40%;
  position: absolute;

}

.container button{
  color: white;
  background-color: red;
  border-radius: 5%;
  height:55px;
  width:45%;
  float: left;
  margin-left: 5%;
  margin-bottom:10%;
}



#listItemsContainer{
  margin-left: 45%;
  margin-top: 150px;
  list-style: none;
}

#addItems{
  list-style: none;
  /* display: none; */
}

.span{
  display: flex;
  justify-content: center;
  margin-top: 400px;

}

#todoInput{
  margin-left: 30%;
  border: none;
  border-radius: 0;
  width: 35%;
  padding: 10px;
  font-size: 16px;
  border: black solid 1px;

}
